In [1]:
import os
import requests
import pandas as pd
import json
from pandas import json_normalize

In [2]:
url = 'http://api.citybik.es/v2/networks'

In [3]:
response = requests.get(url)

# CityBikes

In [4]:
params = {'fields': 'stations'}

Send a request to CityBikes for the city of your choice.

In [5]:
glasgow = '/nextbike-glasgow'

In [6]:
response = requests.get(url + glasgow)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [7]:
response = requests.get(url + glasgow, params=params)

In [8]:
y = response.json()

Put your parsed results into a DataFrame.

In [9]:
#create dataframe
df = json_normalize(y['network']['stations'])
df

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.bike_uids,extra.number,extra.slots,extra.uid
0,4.0,7,af1d0f25cbc75377878349fde4d86133,55.858167,-4.245483,Merchant Square - ELECTRIC,2023-02-03T22:37:58.434000Z,"[47006, 81132, 47889, 46952, 46732, 46483, 46407]",8407,8.0,264293
1,6.0,1,71b02b6f26f03e58c97dec1e1c9faa00,55.878278,-4.288487,Botanic Gardens - ELECTRIC,2023-02-03T22:37:58.439000Z,[47837],8417,8.0,264302
2,3.0,1,fa6bc682e8627d66891c2b6250c81b1e,55.864788,-4.271852,Mitchell Library,2023-02-03T22:37:58.442000Z,[46648],8425,6.0,264308
3,1.0,0,a087989280fd941fd9c41c3e787940ae,55.862983,-4.241000,University of Strathclyde (North),2023-02-03T22:37:58.443000Z,[],8424,3.0,264309
4,3.0,6,eb47a36e3d5fe5bc456397413bd2aa75,55.852500,-4.258850,Bridge Street Subway - ELECTRIC,2023-02-03T22:37:58.444000Z,"[81140, 47880, 47870, 46837, 46774, 46681]",8432,5.0,264316
...,...,...,...,...,...,...,...,...,...,...,...
97,4.0,1,c8234c56f76f3f84d81c54ceedbdab54,55.859996,-4.270163,Anderston Railway Station,2023-02-03T22:37:58.495000Z,[46982],8312,6.0,105741985
98,2.0,8,e7b590304d2ae958110e34961830ce68,55.846552,-4.332797,Maryland Drive,2023-02-03T22:37:58.499000Z,"[46913, 46844, 46831, 46830, 46757, 46461, 479...",8209,10.0,115737132
99,0.0,8,70c80c14fe5f7f1049a85e33856137ec,55.855961,-4.244671,Trongate,2023-02-03T22:37:58.448000Z,"[47085, 46620, 46587, 46549, 46495, 46473, 479...",8431,5.0,266169
100,4.0,1,d1cfef68e6b380467d3f8927379319b3,55.862973,-4.237745,Glasgow Cathedral - ELECTRIC,2023-02-03T22:37:58.436000Z,[47144],8409,6.0,264296
101,8.0,0,12aac9e40a335ee43b231c94972a7a69,55.878152,-4.242439,St Rollox,2023-02-03T22:37:58.483000Z,[],8236,8.0,31234437

In [10]:
#delete coloumns that are not needed for project
df= df.drop(df.columns[[2,5,6,7,8,9,10]], axis=1)
df

     empty_slots  free_bikes   latitude  longitude
0            4.0           7  55.858167  -4.245483
1            6.0           1  55.878278  -4.288487
2            3.0           1  55.864788  -4.271852
3            1.0           0  55.862983  -4.241000
4            3.0           6  55.852500  -4.258850
..           ...         ...        ...        ...
97           4.0           1  55.859996  -4.270163
98           2.0           8  55.846552  -4.332797
99           0.0           8  55.855961  -4.244671
100          4.0           1  55.862973  -4.237745
101          8.0           0  55.878152  -4.242439

[102 rows x 4 columns]