In [1]:
# imports
import os
import requests
import pandas as pd
import json
from pandas import json_normalize

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [2]:
url = "https://api.foursquare.com/v3/places/search?query=bike&ll=55.858167%2C-4.245483&radius=1000"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3MzktfSCg8kREITsopfR8zTnwtbqZhJ09Vx1/q6tXXoA="
}

response1 = requests.get(url, headers=headers)
a = response1.json()
df2 = json_normalize(a['results'])
df2= df2.drop(df2.columns[[0,1,2,4,6,9,10,11,12,13,15,16]], axis=1)
df2

,distance,name,geocodes.main.latitude,geocodes.main.longitude,location.formatted_address,location.postcode,location.region,location.cross_street,related_places.children
0,416,Billy Bilsland Cycles,55.854474,-4.246063,"176 Saltmarket, Glasgow, Glasgow City, G1 5LA",G1 5LA,Glasgow City,NaN,NaN
1,563,Nextbike 8460 - Glasgow Green - Saltmarket / C...,55.853371,-4.246940,"Clyde St, Glasgow, Glasgow City, G1 5JT",G1 5JT,Glasgow City,,NaN
2,645,Nextbike 8410 - St Enoch Square,55.856679,-4.255449,"St Enoch Square, Glasgow, Glasgow City, G1 4EE",G1 4EE,Glasgow City,,NaN
3,677,Glasgow Green,55.852328,-4.241199,"Greendyke St, Glasgow, Glasgow City, G1 5DB",G1 5DB,Glasgow City,NaN,"[{'fsq_id': '58d7d7acb50d5211e04dfdf4', 'name'..."
4,801,Evans Cycles,55.863443,-4.254147,"19 Bath St, Glasgow, Glasgow City, G2 1HY",G2 1HY,Glasgow City,,NaN
5,846,Philip Lang Cycles,55.855875,-4.239028,"163 Gallowgate, Glasgow, Glasgow City, G1 5ED",G1 5ED,Glasgow City,,NaN

In [3]:
df2= df2.drop(df2.columns[[7,8]], axis=1)
df2

,distance,name,geocodes.main.latitude,geocodes.main.longitude,location.formatted_address,location.postcode,location.region
0,416,Billy Bilsland Cycles,55.854474,-4.246063,"176 Saltmarket, Glasgow, Glasgow City, G1 5LA",G1 5LA,Glasgow City
1,563,Nextbike 8460 - Glasgow Green - Saltmarket / C...,55.853371,-4.246940,"Clyde St, Glasgow, Glasgow City, G1 5JT",G1 5JT,Glasgow City
2,645,Nextbike 8410 - St Enoch Square,55.856679,-4.255449,"St Enoch Square, Glasgow, Glasgow City, G1 4EE",G1 4EE,Glasgow City
3,677,Glasgow Green,55.852328,-4.241199,"Greendyke St, Glasgow, Glasgow City, G1 5DB",G1 5DB,Glasgow City
4,801,Evans Cycles,55.863443,-4.254147,"19 Bath St, Glasgow, Glasgow City, G2 1HY",G2 1HY,Glasgow City
5,846,Philip Lang Cycles,55.855875,-4.239028,"163 Gallowgate, Glasgow, Glasgow City, G1 5ED",G1 5ED,Glasgow City

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [4]:
url2 = "https://api.foursquare.com/v3/places/search?query=restaurant%2C%20bar&fields=name%2Clocation%2Cgeocodes&near=glasgow&sort=RATING"


response2 = requests.get(url2, headers=headers)
response2.json()
x = response2.json()

Put your parsed results into a DataFrame

In [5]:
df3 = json_normalize(x['results'])
df3

,name,geocodes.main.latitude,geocodes.main.longitude,geocodes.roof.latitude,geocodes.roof.longitude,location.address,location.address_extended,location.admin_region,location.country,location.cross_street,location.formatted_address,location.locality,location.post_town,location.postcode,location.region
0,Alston Bar & Beef,55.860406,-4.257524,55.860406,-4.257524,79 Gordon St,Unit 19,Scotland,GB,,"79 Gordon St, Glasgow, Glasgow City, G1 3SQ",Glasgow,Glasgow,G1 3SQ,Glasgow City
1,"WEST Brewery, Bar & Restaurant",55.850907,-4.233765,55.850907,-4.233765,"Templeton Building, Glasgow Green",Building 4,Scotland,GB,1 The Green,"Templeton Building, Glasgow Green (1 The Green...",Glasgow,Glasgow,G40 1AW,Glasgow City
2,Tempo Tea Bar,55.859601,-4.252244,55.859601,-4.252244,83 Queen St,NaN,Scotland,GB,NaN,"83 Queen St, Glasgow, Glasgow City, G1 3DA",Glasgow,Glasgow,G1 3DA,Glasgow City
3,Riverhill Coffee Bar,55.860611,-4.255778,55.860611,-4.255778,24 Gordon St,NaN,Scotland,GB,,"24 Gordon St, Glasgow, Glasgow City, G1 3PU",Glasgow,Glasgow,G1 3PU,Glasgow City
4,Max's Bar and Grill,55.859437,-4.252344,55.859437,-4.252344,73 Queen St,NaN,Scotland,GB,NaN,"73 Queen St, Glasgow, Glasgow City, G1 3BZ",Glasgow,Glasgow,G1 3BZ,Glasgow City
5,The State Bar,55.865492,-4.266265,55.865492,-4.266265,148-148A Holland St,NaN,Scotland,GB,NaN,"148-148A Holland St, Glasgow, Glasgow City, G2...",Glasgow,Glasgow,G2 4NG,Glasgow City
6,The Citizen Bar & Dining Rooms,55.861154,-4.252712,55.861154,-4.252712,24 St Vincent Pl,NaN,Scotland,GB,,"24 St Vincent Pl, Glasgow, Glasgow City, G1 2EU",Glasgow,Glasgow,G1 2EU,Glasgow City
7,Tiki Bar & Kitsch Inn,55.864974,-4.264251,55.864974,-4.264251,214 Bath St,NaN,Scotland,GB,NaN,"214 Bath St, Glasgow, Glasgow City, G2 4HW",Glasgow,Glasgow,G2 4HW,Glasgow City
8,Meat Bar,55.863630,-4.260110,55.863630,-4.260110,142 West Regent St,NaN,Scotland,GB,NaN,"142 West Regent St, Glasgow, G2 2RQ",Glasgow,Glasgow,G2 2RQ,NaN
9,Malone's Irish Bar,55.864532,-4.258140,55.864532,-4.258140,57-59 Sauchiehall Lane,NaN,Scotland,GB,,"57-59 Sauchiehall Lane, Glasgow, Glasgow City,...",Glasgow,Glasgow,G2 4AB,Glasgow City

In [6]:
df3= df3.drop(df3.columns[[3,4,5,6,7,8,9,11,12,13]], axis=1)
df3

,name,geocodes.main.latitude,geocodes.main.longitude,location.formatted_address,location.region
0,Alston Bar & Beef,55.860406,-4.257524,"79 Gordon St, Glasgow, Glasgow City, G1 3SQ",Glasgow City
1,"WEST Brewery, Bar & Restaurant",55.850907,-4.233765,"Templeton Building, Glasgow Green (1 The Green...",Glasgow City
2,Tempo Tea Bar,55.859601,-4.252244,"83 Queen St, Glasgow, Glasgow City, G1 3DA",Glasgow City
3,Riverhill Coffee Bar,55.860611,-4.255778,"24 Gordon St, Glasgow, Glasgow City, G1 3PU",Glasgow City
4,Max's Bar and Grill,55.859437,-4.252344,"73 Queen St, Glasgow, Glasgow City, G1 3BZ",Glasgow City
5,The State Bar,55.865492,-4.266265,"148-148A Holland St, Glasgow, Glasgow City, G2...",Glasgow City
6,The Citizen Bar & Dining Rooms,55.861154,-4.252712,"24 St Vincent Pl, Glasgow, Glasgow City, G1 2EU",Glasgow City
7,Tiki Bar & Kitsch Inn,55.864974,-4.264251,"214 Bath St, Glasgow, Glasgow City, G2 4HW",Glasgow City
8,Meat Bar,55.863630,-4.260110,"142 West Regent St, Glasgow, G2 2RQ",NaN
9,Malone's Irish Bar,55.864532,-4.258140,"57-59 Sauchiehall Lane, Glasgow, Glasgow City,...",Glasgow City

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [7]:
url3 = "https://api.yelp.com/v3/businesses/search?latitude=55.860406&longitude=-4.257524&term=bike&radius=1000"

headers3 = {
    "accept": "application/json",
    "Authorization": "Bearer kZgqMX-4XbV6TNT6mf-lGN0lZWpHbtBuQpQ8Kyq_ImHr52bvcx54PnPeR3-TinZo5ERO6AODMfzlFxZmFJ_jWkDO9f95PY47fPXzxMOqSWdSi3os2ldstRcaqPbaY3Yx"
}


response3= requests.get(url3, headers=headers3)
b = response3.json()
df4 = json_normalize(b['businesses'])
df4= df4.drop(df4.columns[[0,1,3,5,9,10]], axis=1)

In [8]:


df4= df4.drop(df4.columns[[1,3,5,6,10,11,12,14,15,16]], axis=1)
df4

,name,review_count,rating,distance,coordinates.latitude,coordinates.longitude,location.city,location.display_address
0,Evans Cycles,5,3.0,413.746554,55.863561,-4.254008,Glasgow,"[19 Bath Street, Glasgow G2 1HY, United Kingdom]"
1,Nextbike,7,4.5,555.676587,55.864237,-4.251806,Glasgow,"[Glasgow, United Kingdom]"
2,Dales Cycles,11,2.5,997.096547,55.867715,-4.248342,Glasgow,"[150 Dobbies Loan, Glasgow G4 0JE, United King..."
3,Sports Direct,7,2.5,510.219758,55.857970,-4.250447,Glasgow,"[28-32 Argyle Street, Glasgow G2 8AD, United K..."
4,Billy Bilsland Cycles,3,4.5,973.263027,55.854561,-4.246191,Glasgow,"[176 Saltmarket, Glasgow G1 5LA, United Kingdom]"
5,Tiso Glasgow Outdoor Experience,15,4.5,1114.812405,55.867313,-4.245250,Glasgow,"[50 Couper Street, Glasgow G4 0DL, United King..."
6,West Coast Harley Davidson,8,2.5,971.647179,55.864026,-4.271590,Glasgow,"[147-151 North St, Glasgow G3 7DA, United King..."
7,5th Blocker Skates,3,5.0,384.226689,55.863403,-4.260588,Glasgow,"[143 W Regent Street, Glasgow G2 2SG, United K..."

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [9]:
api_key = 'kZgqMX-4XbV6TNT6mf-lGN0lZWpHbtBuQpQ8Kyq_ImHr52bvcx54PnPeR3-TinZo5ERO6AODMfzlFxZmFJ_jWkDO9f95PY47fPXzxMOqSWdSi3os2ldstRcaqPbaY3Yx'

headers4 = {
    'accept': 'application/json',
    'Authorization': 'Bearer {}'.format(api_key)
    }
search_api_url = 'https://api.yelp.com/v3/businesses/search'
params = {'term': 'pub, restaurant, bar',
          'location': 'Glasgow, Scotland',
          'limit': 50}
response4 = requests.get(search_api_url, headers=headers4, params=params, timeout=5).json()
z = response4

Put your parsed results into a DataFrame

In [10]:
data_dict = {

    'Lat' : [],
    'Long':[],
    'Review_Count':[],
    'Name' : [],
    'Rating' : [],
    'City' : []
}

for i in range(50):
  data_dict['Lat'].append(z['businesses'][i]['coordinates']['latitude']),
  data_dict['Long'].append(z['businesses'][i]['coordinates']['longitude']),
  data_dict['Review_Count'].append(z['businesses'][i]['review_count']),
  data_dict['Name'].append(z['businesses'][i]['name']),
  data_dict['Rating'].append(z['businesses'][i]['rating']),
  data_dict['City'].append(z['businesses'][i]['location']['city']),
  
df5 = pd.DataFrame.from_dict(data_dict,orient='columns')
df5

,Lat,Long,Review_Count,Name,Rating,City
0,55.874915,-4.293247,152,Ubiquitous Chip,4.5,Glasgow
1,55.864196,-4.260933,257,The Butterfly and the Pig,4.5,Glasgow
2,55.863588,-4.257858,32,Rufus T Firefly,3.5,Glasgow
3,55.855316,-4.250300,27,Scotia Bar,4.0,Glasgow
4,55.872544,-4.282411,98,Stravaigin,4.5,Glasgow
5,55.860826,-4.256445,27,Horseshoe Bar,4.0,Glasgow
6,55.865227,-4.285829,36,The Ben Nevis,4.5,Glasgow
7,55.871283,-4.300637,44,The Sparkle Horse,4.0,Glasgow
8,55.877405,-4.289217,130,Oran Mor,3.5,Glasgow
9,55.863866,-4.281028,18,The Brass Monkey,4.0,Glasgow
10,55.865029,-4.265696,25,Mini Grill,4.5,Glasgow
11,55.861441,-4.256623,48,The Drum and Monkey,4.0,Glasgow
12,55.864667,-4.256874,44,Walkabout,2.5,Glasgow
13,55.864023,-4.281491,63,Lebowskis,4.0,Glasgow
14,55.865734,-4.276900,47,McPhabbs,4.0,Glasgow
15,55.860349,-4.259364,5,The Smokin' Fox,4.5,Glasgow
16,55.858305,-4.244045,25,Home,3.5,Glasgow
17,55.865850,-4.266039,18,Bar Budda,3.5,Glasgow
18,55.859356,-4.248030,48,BrewDog DogHouse,4.5,Glasgow
19,55.874027,-4.301817,38,Cottier's,3.5,Glasgow
20,55.863281,-4.256176,53,The Raven,4.0,Glasgow
21,55.860144,-4.233713,82,Drygate Brewing Co,4.0,Glasgow
22,55.875423,-4.293364,77,The Curler's Rest,3.5,Glasgow
23,55.865937,-4.269321,23,Variety Bar,4.0,Glasgow
24,55.864538,-4.283614,29,Distill,4.0,Glasgow
25,55.868347,-4.273617,35,The Drake,4.0,Glasgow
26,55.862063,-4.253075,56,Waxy O'Connors,3.5,Glasgow
27,55.872397,-4.272877,30,Munro's,3.5,Glasgow
28,55.866643,-4.290341,57,Firebird,4.0,Glasgow
29,55.937783,-4.212814,2,Torrance Inn,4.5,Glasgow
30,55.863971,-4.259456,92,Bloc+,4.0,Glasgow
31,55.865469,-4.266275,37,THe State Bar,4.0,Glasgow
32,55.861125,-4.251693,91,The Counting House,3.5,Glasgow
33,55.858853,-4.248389,14,Citation Taverne and Restaurant,3.0,Glasgow
34,55.874950,-4.280763,51,Inn Deep,4.0,Glasgow
35,55.858878,-4.245660,23,Bar 91,4.0,Glasgow
36,55.874830,-4.292792,36,Jinty McGuinty's,3.5,Glasgow
37,55.865512,-4.283756,26,The Sisters,4.5,Glasgow
38,55.861107,-4.257999,99,Stereo,4.5,Glasgow
39,55.857906,-4.244729,59,Blackfriars,4.0,Glasgow
40,55.857478,-4.256287,9,Times Square,2.5,Glasgow
41,55.866913,-4.259739,14,Jackson's Drink Mongers,4.0,Glasgow
42,55.858131,-4.223449,13,Redmond's,4.0,Glasgow
43,55.874267,-4.276554,26,The Lansdowne Bar & Kitchen,3.5,Glasgow
44,55.859095,-4.248108,26,Rab Ha's,4.0,Glasgow
45,55.854724,-4.234856,15,Saint Luke's And The Winged Ox,4.0,Glasgow
46,55.871839,-4.297911,34,Bar Gumbo,4.0,Glasgow
47,55.859047,-4.248592,10,The Steps Bar,3.5,Glasgow
48,55.859507,-4.248474,13,Bacchus Cafe Bar,4.0,Glasgow
49,55.823493,-4.288082,8,Loks Bar & Kitchen,4.0,Glasgow

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Yelp API gave me a lot more information that was needed compared to Foursquare. Not sure if it was the city I chose, but Foursquare didn't have any column for rating or total number of ratings. Yelp was able to provide that information and it was very useful. Yelp also had a larger pool of results based on my queries, whereas Foursquare was very limited.

Get the top 10 restaurants according to their rating

In [12]:
df4.sort_values('rating', ascending=False).iloc[:10]

,name,review_count,rating,distance,coordinates.latitude,coordinates.longitude,location.city,location.display_address
7,5th Blocker Skates,3,5.0,384.226689,55.863403,-4.260588,Glasgow,"[143 W Regent Street, Glasgow G2 2SG, United K..."
1,Nextbike,7,4.5,555.676587,55.864237,-4.251806,Glasgow,"[Glasgow, United Kingdom]"
4,Billy Bilsland Cycles,3,4.5,973.263027,55.854561,-4.246191,Glasgow,"[176 Saltmarket, Glasgow G1 5LA, United Kingdom]"
5,Tiso Glasgow Outdoor Experience,15,4.5,1114.812405,55.867313,-4.245250,Glasgow,"[50 Couper Street, Glasgow G4 0DL, United King..."
0,Evans Cycles,5,3.0,413.746554,55.863561,-4.254008,Glasgow,"[19 Bath Street, Glasgow G2 1HY, United Kingdom]"
2,Dales Cycles,11,2.5,997.096547,55.867715,-4.248342,Glasgow,"[150 Dobbies Loan, Glasgow G4 0JE, United King..."
3,Sports Direct,7,2.5,510.219758,55.857970,-4.250447,Glasgow,"[28-32 Argyle Street, Glasgow G2 8AD, United K..."
6,West Coast Harley Davidson,8,2.5,971.647179,55.864026,-4.271590,Glasgow,"[147-151 North St, Glasgow G3 7DA, United King..."